# Next auth https://next-auth.js.org/configuration/options
# Run this command to generate a a new NEXTAUTH_SECRET
# $ openssl rand -base64 32

NEXTAUTH_URL = http://localhost:3000
NEXTAUTH_SECRET=

# Go to Google Cloud Console and setup OAuth 2.0 credentials
# https://console.cloud.google.com/apis/credentials
# Add these to your OAuth consent screen:
# Authorized JavaScript origins: http://localhost:3000
# Authorized redirect URIs: http://localhost:3000/api/auth/callback/google

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=